body {
  background-color: #6eaacf; }

.modal-color {
  background-color: #ebebeb; }

.added-margin {
  margin-top: 25px; }

.temp-high {
  color: #b40000; }

.temp-low {
  color: #3535ca; }

.temp-default {
  color: #ffe605; }
