html {
  box-sizing: border-box; }

html *,
html *:before,
html *:after {
  box-sizing: inherit; }

body {
  color: #161616;
  font-family: 'Roboto', sans-serif;
  background-color: currentColor;
  padding-bottom: 70px;
  padding-top: 70px; }

.h1-main-header {
  position: relative;
  right: 5%; }

#weatherImgs {
  text-align: center;
  padding: 2em;
  margin: 0 auto; }

.icon {
  position: absolute;
  display: inline-block;
  width: 9em;
  height: 2em;
  font-size: 0.4em; }

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #fff;
  animation: spin 12s infinite linear; }

.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff; }

.rays:before,
.rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff; }

.rays:before {
  transform: rotate(120deg); }

.cloud + .sun {
  margin: -2em 1em; }

/* Animations */
@keyframes spin {
  100% {
    transform: rotate(360deg); } }

@keyframes cloud {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em); } }

.jumbotron {
  background: #f93100;
  background: -moz-linear-gradient(top, #f93100 0%, #ff7400 15%, #fca800 30%, #f7da00 45%, #ededed 60%, #e5e5e5 68%, #58c3fc 87%, #007896 100%);
  background: -webkit-linear-gradient(top, #f93100 0%, #ff7400 15%, #fca800 30%, #f7da00 45%, #ededed 60%, #e5e5e5 68%, #58c3fc 87%, #007896 100%);
  background: linear-gradient(to bottom, #f93100 0%, #ff7400 15%, #fca800 30%, #f7da00 45%, #ededed 60%, #e5e5e5 68%, #58c3fc 87%, #007896 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f93100', endColorstr='#007896',GradientType=0 );
  background-repeat: no-repeat; }

.modal-color {
  background-color: #ebebeb; }

.added-margin {
  margin-top: 65px; }

.temp-high {
  color: #ca0202; }

.temp-low {
  color: #3535ca; }

.temp-default {
  color: #ffe605; }

.width {
  width: 350px; }

.padding {
  padding-top: 1em; }

.box {
  -webkit-box-shadow: 0px 0px 30px 5px #353434;
  -moz-box-shadow: 0px 0px 30px 5px #353434;
  box-shadow: 0px 0px 20px 2px #5a5a5a; }

.jumboBox {
  -webkit-box-shadow: 0px 0px 30px 5px #353434;
  -moz-box-shadow: 0px 0px 30px 5px #353434;
  box-shadow: 0px 0px 20px 5px #353434; }

.min-height {
  min-height: 400px; }
